<html>

    <body>
      <center>

         <h1><font color="red">DataBase Operations With Python-Flask And Mysql</font></h1>
         <h2><a href="/createForm">Insert Data Into Table</a></h2>
         <h2><a href="/updateForm">Update data</a></h2>
         <h2><a href="/deleteForm">Delete Data</a></h2>
         <h2><a href="/listjsonForm">Show data in the Form of Json</a></h2>
         <h2><a href="/listForm">Show Data in Plain Text</a></h2>
         <h2><a href="/idForm">Click to Know your id</a></h2>
         </center>
         </body>
         </html>