<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <center>
    <h1><font color="red">Please enter your trip Information</font></h1>
    <form action="http://127.0.0.1:5000\insert" method="post">
    <table border="0">
    <tr>
     <th>Name:</th>
     <td><input type="text" name="t_name" placeholder="required"></td>
    </tr>
    <tr>
     <th>latitude:</th>
     <td><input type="text" name="t_latitude" placeholder="required"></td>
    </tr> 
    <tr>
     <th>longitude:</th>
     <td><input type="text" name="t_longitude" placeholder="required"></td>
    </tr>
    <tr>
    <th><input type="submit" value="Insert"></th>
    <td><input type="reset" value="Reset"></td>
    </tr
</table>
    	

    </form>	
 

 </center>
</body>
</html>